h1,
h3 {
  margin: 0%;
  padding: 0%;
}
.sheet-background {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sheet {
  background-color: hsl(0, 0%, 100%);
  border-radius: 2vw;
  max-width: 55vw;
  min-width: 45vw;
  max-height: 90vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

.close {
  background-color: hsl(359, 100%, 44%);
  border: 2px solid hsl(210, 11%, 15%);
  padding: 0px;
  margin: 0%;
  border-radius: 5px;
  position: absolute;
  right: 0%;
  top: 0%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.close:hover {
  background-color: hsl(359, 100%, 38%);
}

.close:active {
  background-color: hsl(359, 100%, 33%);
}

.character-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.character-profile-image {
  border: solid 4px hsl(210, 11%, 15%);
  border-radius: 1vw;
}

.character-data {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  max-width: 50%;
  min-width: 30%;
  margin-left: 5%;
}
