.react-tabs {
  margin-top: 2.5%;
  width: 100%;
}

.react-tabs__tab-list {
  margin: 0%;
  padding: 0%;
  border: none;
}

.react-tabs__tab {
  margin-right: 0.5%;
  padding: 0% 1% 0% 1%;
  font-size: x-large;
  font-weight: 500;
  border: none;
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid 0.7vh hsl(210, 11%, 15%);
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 11%, 15%);
  transition: all 0.2s ease-in-out;
}

.react-tabs__tab--selected {
  border: none;
  border-radius: 5px 5px 0px 0px;
  border-bottom: solid 0.7vh hsl(85, 57%, 55%);
  transition: all 0.2s ease-in-out;
}

.custom-table,
.table-head,
.table-body,
.table-row {
  margin: 0%;
  padding: 0%;
  display: flex;
}

.custom-table,
.table-head,
.table-body {
  flex-direction: column;
}

.table-head,
.table-body {
  padding: 6px 6px 6px 6px;
}

.custom-table {
  margin-top: 1vh;
}

.table-head {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 11%, 15%);
  font-size: x-large;
  font-weight: 400;
  overflow-y: scroll;
}

.table-body {
  font-size: larger;
  max-height: 20vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 500;
}

.table-data__episode-number {
  width: 5%;
}

.table-data__episode-title {
  width: 70%;
}

.table-data__episode-release-date {
  width: 25%;
  text-align: right;
}
