body {
  width: max-content;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/rick-and-morty-uy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 0 0;
}

#root {
  height: 100vh;
  width: 100vw;
}

.btn-page {
  opacity: 0%;
  border: none;
  position: fixed;
  top: 50%;
  background: none;
  padding: 0%;
  display: flex;
  height: 7vw;
  width: 7vw;
  color: aliceblue;
}

.prev {
  left: 1vw;
}

.next {
  right: 1vw;
}

.active-pagination {
  opacity: 100%;
  animation: active-pagination 300ms ease-in 0ms infinite alternate;
}

.active-pagination:hover {
  cursor: pointer;
}

@keyframes active-pagination {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
